* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
    color: white;
}

img{
    /* display: block; */
    /* object-fit: cover; */
    height: auto;
    width: 100%;
}

.flex{
    display: flex;
}

.selected{
    opacity: 1;
}

.container{
    width: 100%;
    height: 100vh;
}

#main-photo{
    height: calc(100vh - 180px);
    /* background-image: url("/assets/img/blade-runner-2049.webp"); */
    background-position: top;
    background-size: cover;
}

.main-active{
    display: block;
}

.hidden{
    display: none;
}

#carousel{
    position: relative;
}

.container-image{
    width: calc(100% / 5);
    height: 180px;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
}

.container-image:hover{
    opacity: 1;
}

.active{
    opacity: 1;
}

.chevron{
    z-index: 2;
    position: absolute;
    width: 40px;
    align-items: center;
    justify-content: center;
}
.chevron:hover{
    background-color: rgba(255, 255, 255, 0.388);
}

.chevron svg{
    fill: black;
    width: 40%;
    height: auto;
    z-index: 3;
}

#chevron-left{
    left: 0;
    top: 40px;
    bottom: 40px;
    border-radius: 0 10px 10px 0;
}
#chevron-right{
    right: 0;
    top: 40px;
    bottom: 40px;
    border-radius: 10px 0 0 10px;
}